<form [formGroup]="form">
    <app-form-view (addBtn)="formSubmited()" (cancelBtn)="formCancelled()">
        <div class="input-field">
            <label for="name">
                <span>Nome</span>
                <input type="text" formControlName="name" placeholder="Nome Completo">
            </label>
            @if (form.get('name')?.touched && form.get('name')?.hasError('minlength') ) {
                <div class="error">O nome deve conter pelo menos 3 letras.</div>
            }
            @if (form.get('name')?.touched && form.get('name')?.hasError('required') ) {
                <div class="error">Este campo é obrigatório.</div>
            }
        </div>
    </app-form-view>
</form>