<div class="cont-container">
    <div class="page-title-container">
        <h1>Perfil</h1>
        <ul>
            <li routerLink="/">
                <span>Home</span>
                <mat-icon>arrow_forward_ios</mat-icon>
            </li>
            <li>
                <span>Meus dados</span>
            </li>
        </ul>
    </div>
    <div class="profile-area-container b-radius-20">
        <div class="row-1">
            <div class="list-title">
                <h3>Meus dados</h3>
            </div>
        </div>
        <div class="block-info">
            <div class="d-flex">
                <div class="profile-img">
                    <img src="/images/profile-pic.jpg" alt="">
                </div>
                <div class="profile-info-title">
                    <h2>Leonardo de Oliveira Silva</h2>
                    <div class="d-1 gray">
                        <p>Representante</p>
                        <p class="border-left">Torres, Rio Grande do Sul</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-info">
            <div class="info-title">
                <h2>Informações Pessoais</h2>
            </div>
            <div class="inner-info-cont">
                <div class="info-data-cont">
                    <span class="gray">Primeiro Nome</span>
                    <p>Leonardo</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Segundo Nome</span>
                    <p>de Oliveira Silva</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">E-mail</span>
                    <p>leonardopk88@hotmail.com</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Whatsapp</span>
                    <p>(48) 98803-8717</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Cargo</span>
                    <p>Representante</p>
                </div>
            </div>
        </div>
        <div class="block-info">
            <div class="info-title">
                <h2>Endereço</h2>
            </div>
            <div class="inner-info-cont">
                <div class="info-data-cont">
                    <span class="gray">Estado</span>
                    <p>Rio Grande do Sul</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Cidade</span>
                    <p>Torres</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Código Postal</span>
                    <p>95560-000</p>
                </div>
                <div class="info-data-cont">
                    <span class="gray">Empresa</span>
                    <p>Leonardo</p>
                </div>
            </div>
        </div>
        <div class="block-info social-medias">
            <div class="d-flex">
                <div class="profile-img">
                    <img src="/images/git-logo.png" alt="">
                </div>
                <div class="profile-info-title">
                    <div class="media-info">
                        <p class="gray">Github</p>
                        <a href="https://github.com/leonardopk" target="_blank">github.com/leonardopk</a>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="profile-img">
                    <img src="/images/linkedin-logo.png" alt="">
                </div>
                <div class="profile-info-title">
                    <div class="media-info">
                        <p class="gray">LinkedIn</p>
                        <a href="https://www.linkedin.com/in/leonardo-silva88" target="_blank">linkedin.com/in/leonardo-silva88</a>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="profile-img">
                    <img src="/images/instagram-logo.jpg" alt="">
                </div>
                <div class="profile-info-title">
                    <div class="media-info">
                        <p class="gray">Instagram</p>
                        <a href="https://www.instagram.com/bah_leonardos/" target="_blank">@bah_leonardos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>