<form [formGroup]="form">
    <app-form-view (addBtn)="formSubmited()" (cancelBtn)="formCancelled()">

        <div class="input-field">
            <label for="name">
                <span>Nome</span>
                <input type="text" formControlName="name">
            </label>
            @if (form.get('name')?.touched && form.get('name')?.hasError('minlength') ) {
                <div class="error">O nome deve conter pelo menos 3 letras.</div>
            }
            @if (form.get('name')?.touched && form.get('name')?.hasError('required') ) {
                <div class="error">Este campo é obrigatório.</div>
            }
        </div>

        <div class="input-field">
            <label for="cpf">
                <span>Cpf</span>
                <input type="text" formControlName="cpf" mask="000.000.000-00">
            </label>
            @if (form.get('cpf')?.touched && form.get('cpf')?.hasError('required') ) {
                <div class="error">Este campo é obrigatório.</div>
            }
        </div>

        <div class="input-field">
            <label for="email">
                <span>E-mail</span>
                <input type="email" formControlName="email">
            </label>
            @if (form.get('email')?.touched && form.get('email')?.hasError('required') ) {
                <div class="error">Este campo é obrigatório.</div>
            }
            @if (form.get('email')?.touched && form.get('email')?.hasError('email') ) {
                <div class="error">Formato incorreto para e-mail.</div>
            }
        </div>

        <div class="input-field">
            <label for="birthday">
                <span>Data de Nascimento</span>
                <input type="date" formControlName="birthday">
            </label>
            @if (form.get('birthday')?.touched && form.get('birthday')?.hasError('required') ) {
                <div class="error">Este campo é obrigatório.</div>
            }
        </div>

    </app-form-view>
</form>