<app-list-view
    pageTitle="Operacionais"
    btnText="Novo Operacional"
    [dataListSource]="operationalsView"
    [nameColums]="[
        {field: 'date', label: 'Data'},
        {field: 'hour', label: 'Hora'},
        {field: 'activityName', label: 'Atividade'},
        {field: 'operatorName', label: 'Operador'},
        {field: 'equipmentName', label: 'Equipamento'}
    ]"
    (btnClicked)="redirectToForm()"
    (removeFromList)="removeItem($event)"
    (editFromList)="editItem($event)"
></app-list-view>