<form action="" [formGroup]="form">
    <app-form-view (addBtn)="formSubmited()" (cancelBtn)="formCancelled()">
        <div class="input-field">
            <label for="name">
                Nome:
                <input type="text" formControlName="name" required>
            </label>
        </div>
        <div class="input-field">
            <label for="price">
                Valor:
                <input type="number" formControlName="price" required>
            </label>
        </div>
    </app-form-view>
</form>