mat-sidenav-container {
  height: 100%;
  width: 100vw;
}

.logo {
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
}

.logo img {
  width: 100%;
}

mat-sidenav {
  background-color: white;
  width: 300px;
  padding: 16px;
  display: flex;
  border-right: 1px solid rgba(110, 110, 110, 0.192);
}

h5 {
  padding-left: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

mat-list-item {
  margin-bottom: 20px;
  color: #798294;
}

mat-list-item:hover {
  background-color: #f2f4f7;
  cursor: pointer;
}

mat-sidenav-content {
  background-color: #f9fafb;
}

/* DELIMITA O ESPAÇO DO CONTEÚDO */
mat-sidenav-content .content-container {
  width: 1450px;
  height: auto;
  margin: auto;
}

@media (max-width: 1820px) {
  mat-sidenav-content .content-container {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: auto;
  }
}