mat-sidenav-container {
  height: 100%;
  width: 100vw;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

mat-sidenav {
  padding: 16px;
}

mat-sidenav {
  background-color: rgba(137, 43, 226, 0.253);
  width: 300px;
  display: flex;
}

h5 {
  padding-left: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

mat-list-item {
  margin-bottom: 20px;
}

mat-list-item:hover {
  background-color: aquamarine;
  cursor: pointer;
}