
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  font-family: "Montserrat", sans-serif;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif; }

// Barra lateral Angular Material
mat-sidenav .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #344054;
  font-size: 14px;
}

mat-sidenav-container .mat-drawer.mat-sidenav.mat-drawer-opened.mat-drawer-side {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Tabela Angular Material
@include mat.table-overrides((
    background-color: white,
    header-headline-color: black,
    header-headline-font: "Montserrat",
    header-headline-weight: 600,
    row-item-label-text-font: "Montserrat",
    row-item-label-text-weight: 400,
    row-item-label-text-line-height: 60px,
    row-item-outline-color: rgba(110, 110, 110, 0.192)
));

// Criados
.b-radius-10 {
  border-radius: 10px !important;
}

.b-radius-20 {
  border-radius: 20px !important;
}

.btn-base {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
}
