<form [formGroup]="form">
    <app-form-view (addBtn)="formSubmited()" (cancelBtn)="formCancelled()">
        <div class="input-field">
            <label for="name">
                Nome:
                <input type="text" formControlName="name">
            </label>
        </div>
        <div class="input-field">
            <label for="cpf">
                CPF:
                <input type="text" formControlName="cpf" maxlength="14" mask="000.000.000-00">
            </label>
        </div>
        <div class="input-field">
            <label for="phone">
                Telefone:
                <input type="text" formControlName="phone" maxlength="15" mask="(00) 00000-0000" placeholder="(00) 00000-0000">
            </label>
        </div>
        <div class="input-field">
            <label for="email">
                E-mail:
                <input type="email" formControlName="email">
            </label>
        </div>
    </app-form-view>
</form>